@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	background-color: #f2f2f2;
}
#outer {
	margin: 0 auto;
	width: 980px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#inner {
	padding: 20px 30px;
}
header {
	padding: 0;
	height: 50px;
}
h1 {
	font-size: 22px;
	color: #800000;
	margin: 0;
	padding: 0;
}
h1 a {
	color: #800000;
	text-decoration: none;
}
h1 a:hover {
	color: #800000;
	text-decoration: underline;
}
#main {
	float: left;
	width: 70%;
	padding-right: 2em;
	border-right: 1px solid #ccc;
}
aside {
	float: right;
	width: 24%;
}
.side-title {
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
}
.side li {
	list-style: none;
}
.side {
	margin-top: 1em;
}
.side a {
	color: #003366;
	text-decoration: none;
}
.side a:hover {
	text-decoration: underline;
}
.side ul {
	padding: 0 20px;
}
footer {
	clear: both;
	margin: 2em;
	font-size: 0.8em;
	color: #666;
	text-align: center;
}
h2 {
	font-size: 34px;
	color: #fff;
	margin: 0 0 30px 0;
	padding: 10px 0 10px 20px;
	background-color: #164D84;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}
p {
	line-height: 1.6;
	margin: 0 0 1em 0;
}
@media screen and (max-width: 767px) {
#outer {
	width: 100%;
}
#inner {
	padding: 10px;
}
#main, aside {
	float: none;
	width: 100%;
	padding-right: 0;
	border-right: none;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
}
}
